body {
    margin: 0;
    padding: 0;
    font-family: Heebo;
}
.btn_text {
    color: white;
    text-decoration: none;
}
#home_view {
    width: 100%;
}

/*Hidden Mobile Views*/
#mob_nav_placeholder {
    display: none;
}
#mob_drawer {
    display: none;
}

/*Desktop Views*/
#comp_nav_placeholder {
    background-image: url("images/compNav.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 10vh;
    position: fixed;
    top: 0;
    margin: 0 auto;
}
#layerOne_background {
    background-image: url("images/L1Bg.png");
    margin-top: 10vh;
    display: flex;
    align-items: center;
    width: 100%;
    height: 30vh;
}
#layerOne_header {
    margin-left: 4vw;
    width: 62vw;
    height: 12vh;
}
#comp_video_placeholder {
    background-image: url("images/videoLoop.gif");
    background-size: cover;
    width: 100vw;
    height: 90vh;
}
#video_text {
    width: 38%;
    color: white;
    padding: 9vh 4vw;
}
#sm_header {
    font-size: 18px;
    margin: 10px 0;
}
#lg_header {
    font-size: 30px;
    font-weight: bold;
    line-height: 30px;
}
#video_btn {
    margin: 35px 0;
    background-color: inherit;
    border: 1px solid white;
    border-radius: 25px;
    padding: .75vh 3vw;
}
#layerThree {
    width: 100%;
    height: 85.5vh;
    display: flex;
    flex-wrap: wrap;
}
#layerThree_info {
    background-image: url("images/L3Limg.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 50vw;
}
#layerThree_infoText {
    width: 100%;
    color: white;
    padding: 8vh 2.75vw;
}
#layerThree_smHeader {
    font-size: 18px;
    margin-bottom: 10px;
}
#layerThree_lgHeader {
    font-size: 30px;
    font-weight: bold;
    line-height: 30px;
}
#layerThree_body {
    width: 80%;
    margin: 20px 0;
    font-size: 14px;
}
#layerThree_btn {
    background-color: inherit;
    border: 1px solid white;
    border-radius: 25px;
    padding: .75vh 2vw;
}
#layerThree_img_placeholder {
    background-image: url("images/L3Rimg.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 50vw;
}
