body {
    margin: 0;
    padding: 0;
    font-family: Heebo;
}
.btn_text {
    color: white;
    text-decoration: none;
}

/*Hidden Mobile Views*/
#mob_nav_placeholder {
    display: none;
}
#mob_drawer {
    display: none;
}

/*Desktop Views*/
#comp_nav_placeholder {
    background-image: url("images/compNav.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    margin: 0 auto;
}
#layerOne_background {
    background-image: url("images/L1Bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    margin-top: 70px;
    align-items: center;
    width: 100vw;
    height: 200px;
}
#layerOne_header {
    margin-left: 4vw;
    width: 62vw;
    height: 12vh;
}
#comp_video_placeholder {
    background-image: url("images/videoLoop.gif");
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}
#video_text {
    width: 38%;
    color: white;
    padding: 9vh 4vw;
}
#sm_header {
    font-size: 18px;
    margin: 10px 0;
}
#lg_header {
    font-size: 30px;
    font-weight: bold;
    line-height: 30px;
}
#video_btn {
    margin: 35px 0;
    background-color: inherit;
    border: 1px solid white;
    border-radius: 25px;
    padding: .75vh 3vw;
}
#layerThree {
    width: 100%;
    height: 553px;
    display: flex;
    flex-wrap: wrap;
}
#layerThree_info {
    background-image: url("images/L3Limg.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 50%;
}
#layerThree_infoText {
    width: 100%;
    color: white;
    padding: 8vh 2.75vw;
}
#layerThree_smHeader {
    font-size: 18px;
    margin-bottom: 10px;
}
#layerThree_lgHeader {
    font-size: 30px;
    font-weight: bold;
    line-height: 30px;
}
#layerThree_body {
    width: 80%;
    margin: 20px 0;
    font-size: 14px;
}
#layerThree_btn {
    background-color: inherit;
    border: 1px solid white;
    border-radius: 25px;
    padding: .75vh 2.5vw;
}
#layerThree_img_placeholder {
    background-image: url("images/L3Rimg.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 50%;
}
#layerFour {
    background-image: url("images/L4Bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 280px;
    display: flex;
    align-items: center;
    padding-left: 2.75vw;
}
#layerFour_text {
    color: white;
}
#layerFour_lgHeader {
    font-size: 26px;
    font-weight: bold;
}
#layerFour_smHeader {
    font-size: 16px;
    margin: 10px 0 20px 0;
}
#layerFour_btn {
    background-color: inherit;
    border: 1px solid white;
    border-radius: 25px;
    padding: .75vh 2.5vw;
}
#layerFive {
    width: 100%;
    height: 553px;
    display: flex;
    flex-wrap: wrap;
}
#layerFive_leftBackground {
    background-image: url("images/L5Limg.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 50%;
}
#layerFive_leftText {
    width: 100%;
    color: white;
    padding: 8vh 2.75vw;
}
#layerFive_leftSmHeader {
    font-size: 18px;
}
#layerFive_leftLgHeader {
    font-size: 30px;
    font-weight: bold;
}
#layerFive_leftBody {
    font-size: 14px;
    width: 85%;
    margin: 10px 0 20px 0;
}
#layerFive_leftBtn {
    background-color: inherit;
    border: 1px solid white;
    border-radius: 25px;
    padding: .75vh 2.5vw;
}
#layerFive_rightBackground {
    background-image: url("images/L5Rimg.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 50%;
}
#layerFive_rightText {
    width: 85%;
    color: white;
    padding: 8vh 2.75vw;
    text-align: end;
}
#layerFive_rightSmHeader {
    font-size: 18px;
}
#layerFive_rightLgHeader {
    font-size: 30px;
    font-weight: bold;
}
#layerFive_rightBody{
    font-size: 14px;
    margin: 10px 0 20px 0;
}
#layerFive_rightBtn {
    background-color: inherit;
    border: 1px solid white;
    border-radius: 25px;
    padding: .75vh 2.5vw;
}
#layerSix_header {
    width: 98%;
    margin: 10vh auto 5vh auto;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #f89e25;
}
#layerSix_list {
    width: 98%;
    padding: 0;
    margin: auto;
    list-style: none;
    display: flex;
    justify-content: space-around;
}